/* class 選擇器 */
.brown {
  background-color: blanchedalmond
}

.title {
  color: rgb(94, 85, 221);
  font-weight: 400;
  font-size: 35px;
  text-align: center;
  margin: 10px
}

.text {
  font-size: 29px;
  color: rgb(0, 153, 153);
  padding-left: 20px;
  padding: 10px;
  background-color: rgb(255, 156, 85)
}